* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  width: 100vw;
  min-height: 100vh;
}


.layout-container {
  border: 1px solid black;
}

form {
  width: 100%;
  border: 2px solid green;
  display: flex;
  gap: 1.3rem;
  flex-wrap: wrap;
  padding: 1rem;
}

form .row {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}


form .row:nth-child(1){
  flex: 2 1 120px;
}

form .row:nth-child(2) {
  flex: 2 1 120px;
}

form .row input {
  height: 35px;
  padding-left: .7rem;
  font-size: 1rem;
  border: none;
  outline: none;
  border-bottom: 2px solid green;
  margin-bottom: 1rem;
}

form button[type='submit'] {
  display: block;
  flex: 1 1 40px;
  min-width: 80px;
  height: 35px;
  align-self: flex-end;
}